<div class="wrapper">
    <mat-card class="driver-card" *ngFor="let driver of drivers">
        <mat-card-header>
          <div mat-card-avatar class="card-image"></div>
          <mat-card-title>Woyczek</mat-card-title>
        </mat-card-header>
        <img src="">
        <mat-card-content>
            <h3>Shipping from:</h3> Germany, Poland, Denmark
            <h3>Shipping to:</h3> Kharkov, Dniepro, Kyiv, Lviv
            <h3>Is Shipping:</h3> Arms, Humanitarian, Food
            <h3>Vehicle:</h3> VW Sprinter
        </mat-card-content>
        <mat-card-actions class="buttons">
            <button mat-button (click)="openDialog()">
                Contact
                <mat-icon>call</mat-icon>
            </button>
          <button mat-button>
            <mat-icon>stars</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
</div>
